<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity
@using HouYun.IRepositories
@using System.Security.Claims
@inject SignInManager<User> _signInManager;
@inject IUserRepository UserRepository
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var username = await UserRepository.GetUsernameById(userId);
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header id="myHeader">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Video" asp-action="" asp-route-category=@null>HouYun</a>
            </div>
        </nav>
    </header>

    <div class="sidebar">
        <ul class="navbar-nav">
            @if (_signInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form method="post" asp-action="Logout" asp-controller="User">
                        <button type="submit" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">
                            Logout @username!
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" asp-action="ChangePassword" asp-controller="User">
                        <button type="submit" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">
                            Change Password
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" asp-action="ChangeUsername" asp-controller="User">
                        <button type="submit" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">
                            Change Username
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" asp-action="Index" asp-controller="Channel">
                        <button type="submit" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">
                            My Channel
                        </button>
                    </form>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <form method="post" asp-action="Index" asp-controller="AdminPanel">
                            <button type="submit" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">
                                Admin Panel
                            </button>
                        </form>
                    </li>
                }
            }
            else
            {
                <li class="nav-item">
                    <a href="@Url.RouteUrl("registration", new {index="Index"})" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">Registration</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.RouteUrl("login", new {index="Index"})" class="btn btn-link nav-link py-0" style="color: #e0e0e0; text-decoration: none;">Login</a>
                </li>
            }
        </ul>
    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            <form id="searchForm" action="@Url.Action("SearchResult", "Search")" method="get">
                <input id="searchTerm" type="text" name="searchTerm" placeholder="Поиск">
                <button type="submit">Поиск</button>
            </form>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        window.onload = function () {
            var searchTerm = localStorage.getItem('searchTerm');
            if (searchTerm) {
                document.getElementById('searchTerm').value = searchTerm;
            }
        };

        document.getElementById('searchForm').addEventListener('submit', function (event) {
            var searchTerm = document.getElementById('searchTerm').value;
            localStorage.setItem('searchTerm', searchTerm);
        });
    </script>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            var searchTerm = document.getElementById('searchTerm').value;
            if (!searchTerm.trim()) {
                event.preventDefault();
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
