﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/video-js.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/video.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header id="myHeader">
        <nav class="navbar">
            <div class="container-fluid">
                <button id="toggleSidebarButton" class="btn" onclick="toggleSidebar()">
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                </button>
                <a class="navbar-brand" asp-controller="Video" asp-action="">
                    <img src="~/imges/Logos.png" class="logo" /> HouYun
                </a>

                <div class="container2">
                    <form id="searchForm" action="@Url.Action("SearchResult", "Search")">
                        <input id="searchTerm" type="text" name="term" placeholder="Поиск" autocomplete="off">
                        <button type="submit" class="search-button">Искать</button>
                    </form>
                </div>
                <div class="profileinfo">
                    <button id="notificationButton" class="custom-btn" onclick="toggleNotification()">
                        <img src="/imges/Bell.png" alt="Уведомления">
                    </button>
                    <div id="notificationPopup" class="popup">
                        <div class="popup-header">Уведомления</div>
                        <div class="separatorheader"></div>
                        <div class="notification-list" id="notification-list"></div>
                    </div>
                    <button id="toggleMenuButton" class="menuHeader custom-btn" onclick="toggleMenu()">@User.Identity.Name</button>
                    <div id="menuContent" class="dropdown-menu1" style="display: none;">
                        <a id="btnclickChangeUserName" href="@Url.Action("ChangeUserName", "User")" class="dropdown-item">Изменить имя</a>
                        <div class="modal fade" id="ChangeUserName">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-bodyChangeUserName"></div>
                                </div>
                            </div>
                        </div>
                        <a id="btnclickChangePassword" href="@Url.Action("ChangePassword", "User")" class="dropdown-item">Изменить пароль</a>
                        <div class="modal fade" id="ChangePassword">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-bodyChangePassword"></div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item" href="@Url.Action("Index", "Admin")">Панель администратора</a>
                        }
                        <a class="dropdown-item" href="@Url.Action("Logout", "User")" onclick="logout()">Выйти</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <div class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="Main custom-btn" href="@Url.Action("", "Video")">
                        <img src="~/imges/Home.png" class="mini-img-sb" />Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Subscription custom-btn" href="@Url.Action("Index", "Subscription")">
                        <img src="~/imges/Sub.png" class="mini-img-sb" />Подписки
                    </a>
                </li>
                <div class="separator"></div>
                <li class="nav-item">
                    <a class="Channel custom-btn" href="@Url.Action("Index", "Channel", new { channelName = (string?)null })">
                        <img src="~/imges/MyChannel.png" class="mini-img-sb" />Мой канал
                    </a>
                </li>
                <li class="nav-item">
                    <a class="WH custom-btn" href="@Url.Action("Index", "WatchHistory")">
                        <img src="~/imges/WH.png" class="mini-img-sb" />История
                    </a>
                </li>
                <li class="nav-item">
                    <a class="WL custom-btn" href="@Url.Action("Index", "WatchLater")">
                        <img src="~/imges/WL.png" class="mini-img-sb" />Смотреть позже
                    </a>
                </li>
                <li class="nav-item">
                    <a class="WL custom-btn" href="@Url.Action("Index", "Like")">
                        <img src="~/imges/Like.png" class="mini-img-sb" />Понравившиеся
                    </a>
                </li>
                <div class="separator"></div>
                <li class="nav-item">
                    <div class="SubView custom-btn">Подписки</div>
                </li>
                <div id="channels-list"></div>
            </ul>
        </div>
         <div class="mini-sidebar">
            <ul class="mini-navbar-nav">
                <li class="nav-item">
                    <a class="Main custom-btn" href="@Url.Action("", "Video")">
                        <img src="~/imges/Home.png" class="mini-img-mini-sb" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Subscription custom-btn" href="@Url.Action("Index", "Subscription")">
                        <img src="~/imges/Sub.png" class="mini-img-mini-sb" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Channel custom-btn" href="@Url.Action("Index", "Channel", new { channelName = (string?)null })">
                        <img src="~/imges/MyChannel.png" class="mini-img-mini-sb" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="WH custom-btn" href="@Url.Action("Index", "WatchHistory")">
                        <img src="~/imges/WH.png" class="mini-img-mini-sb" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="WL custom-btn" href="@Url.Action("Index", "WatchLater")">
                        <img src="~/imges/WL.png" class="mini-img-mini-sb" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="Like custom-btn" href="@Url.Action("Index", "Like")">
                        <img src="~/imges/Like.png" class="mini-img-mini-sb" />
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>