<!DOCTYPE html>
<html lang="en">
@* @model IEnumerable<Notification> *@
@using Microsoft.AspNetCore.Identity
@using HouYun.IRepositories
@using System.Security.Claims
@inject SignInManager<User> _signInManager;
@inject IUserRepository UserRepository
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var username = await UserRepository.GetUsernameById(userId);
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header id="myHeader">
        <nav class="navbar">
            <div class="container-fluid">
                <button id="toggleSidebarButton" class="btn" onclick="toggleSidebar()">
                    <span class="burger-line" style="background-color: #e0e0e0;"></span>
                    <span class="burger-line" style="background-color: #d0d0d0;"></span>
                    <span class="burger-line" style="background-color: #b6b6b6;"></span>
                </button>
                <a class="navbar-brand" asp-controller="Video" asp-action="">HouYun</a>
                <div class="container2">
                    <form id="searchForm" action="@Url.Action("SearchResult", "Search")" method="get">
                        <input id="searchTerm" type="text" name="searchTerm" placeholder="Поиск" autocomplete="off">
                        <button type="submit" class="search-button">Искать</button>
                    </form>
                </div>
                <div class="profileinfo">
                    <div class="profileinfo">
                        <button id="notificationButton" class="menu custom-btn" onclick="toggleNotification()">
                            <img src="/imges/Bell.png" alt="Уведомления" width="18" height="22">
                        </button>
                        <div id="notificationPopup" class="popup" style="display: none;">
                            <div class="popup-header">Уведомления</div>
                            <div class="separatorheader"></div>
                           @*  <div class="notification-list">
                                @if (Model.Any())
                                {
                                    <ul>
                                        @foreach (var notification in Model)
                                        {
                                            <li>На канале @notification.Channel выгло новое видео с названием @notification.Video</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>Уведомления отсутствуют.</p>
                                }
                            </div> *@
                        </div>
                    </div>
                    <button id="toggleMenuButton" class="menu custom-btn" onclick="toggleMenu()">@username</button>
                    <div id="menuContent" class="dropdown-menu1" style="display: none;">
                        <a id="btnclickChangeUsername" href="@Url.Action("ChangeUsername", "User")" class="dropdown-item">Сменить имя</a>
                        <div class="modal fade" id="ChangeUsername">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-bodyChangeUsername"></div>
                                </div>
                            </div>
                        </div>
                        <a id="btnclickChangePassword" href="@Url.Action("ChangePassword", "User")" class="dropdown-item">Сменить пароль</a>
                        <div class="modal fade" id="ChangePassword">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-bodyChangePassword"></div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin")){
                            <a class="dropdown-item" href="@Url.Action("Index", "Admin")">Админ панель</a>
                        }
                        <a class="dropdown-item" href="@Url.Action("Logout", "User")">Выйти</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <div class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form method="get" asp-area="" asp-action="" asp-controller="Video">
                        <button type="submit" class="Main custom-btn" style="color: #e0e0e0; text-decoration: none;">
                            Главная
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="post" asp-action="Index" asp-controller="Subscription">
                        <button type="submit" class="Sub custom-btn" style="color: #e0e0e0; text-decoration: none;">
                            Подписки
                        </button>
                    </form>
                </li>
                <div class="separator"></div>
                <li class="nav-item">
                    <form asp-action="Index" asp-controller="Channel">
                        <button type="submit" class="Channel custom-btn" style="color: #e0e0e0; text-decoration: none;">
                            Мой канал
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="Get" asp-action="Index" asp-controller="WatchHistory">
                        <button type="submit" class="Watchh custom-btn" style="color: #e0e0e0; text-decoration: none;">
                            История
                        </button>
                    </form>
                </li>
                <li class="nav-item">
                    <form method="Get" asp-action="Index" asp-controller="WatchLater">
                        <button type="submit" class="Watchl custom-btn" style="color: #e0e0e0; text-decoration: none;">
                            Смотреть позже
                        </button>
                    </form>
                </li>
                <div class="separator"></div>
                <li class="nav-item">
                    <div class="SubView custom-btn">Подписки</div>
                </li>
		    </ul>
        </div>

        <div class="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        window.onload = function () {
            var searchTerm = localStorage.getItem('searchTerm');
            if (searchTerm) {
                document.getElementById('searchTerm').value = searchTerm;
            }
        };

        document.getElementById('searchForm').addEventListener('submit', function (event) {
            var searchTerm = document.getElementById('searchTerm').value;
            localStorage.setItem('searchTerm', searchTerm);
        });
    </script>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            var searchTerm = document.getElementById('searchTerm').value;
            if (!searchTerm.trim()) {
                event.preventDefault();
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
