@model HouYun.ViewModels.forVideo.SearchViewModel

<link rel="stylesheet" href="~/css/SeachResult.css" asp-append-version="true" />

@if (Model.Videos.Any()){
    <a>Результаты поиска по запросу "<strong>@Model.SearchTerm</strong>"</a>
    <div class="row">
        @foreach (var video in Model.Videos)
        {
            <div class="my-custom-col">
                <div class="card video-card">
                    <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">
                        <img class="card-img-top poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@video.Title</a>
                            <div class="dropdown-container">
                                <div class="dropdown">
                                    <button onclick="toggleDropdown(this)" class="zxc btn btn-outline-secondary btn-sm custom-btn dropdown-toggle">
                                        ...
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="@Url.Action("AddToWatchLater", "WatchLater", new { videoId = video.VideoId })" class="dropdown-item">Смотреть позже</a>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <p class="card-text">
                            <a href="@Url.RouteUrl("channel", new { channelName = video.Channel.Name })">@video.Channel.Name</a>
                        </p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@Helper.FormatViews(video.Views.Count) | @Helper.TimeAgo(video.UploadDate)</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>По вашему запросу "@Model.SearchTerm" ничего не найдено.</p>
}