@model IEnumerable<WatchHistory>

@{
    ViewData["Title"] = "История просмотров";
}

<h1 id="Title">История просмотров</h1>

@if (Model.Any())
{
    <p>
        <form method="post" asp-action="DeleteAllWatchHistory" asp-controller="WatchHistory" class="mt-3">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-light btn-sm">Очистить историю</button>
        </form>
    </p>
    <div class="row">
        @foreach (var wH in Model)
        {
            <div class="my-custom-col">
                <div class="card video-card">
                    <a href="@Url.Action("Details", "Video", new { videoId = wH.Video.VideoId })">
                        <img class="card-img-top poster-image" src="@Url.Content("~/posters/" + wH.Video.PosterPath)" alt="Video Poster">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="@Url.Action("Details", "Video", new { videoId = wH.VideoId })">@wH.Video.Title</a>
                            <div class="dropdown-container">
                                <div class="dropdown">
                                    <button onclick="toggleDropdown(this)" class="zxc btn btn-outline-secondary btn-sm custom-btn dropdown-toggle">
                                        ...
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item" onclick="addToWatchLater('@Url.Action("AddToWatchLater", "WatchLater")', '@wH.Video.VideoId')">Смотреть позже</a>
                                    </div>
                                </div>
                            </div>
                        </h4>
                        <p class="card-text">
                            <a href="@Url.RouteUrl("channel", new { channelName = wH.Video.Channel.Name })">@wH.Video.Channel.Name</a>
                        </p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Video", new { videoId = wH.Video.VideoId })">@Helper.FormatViews(wH.Video.Views.Count) | @Helper.TimeAgo(wH.Video.UploadDate)</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Список историй пуст.</p>
}

<link rel="stylesheet" href="~/css/indexVideos.css" asp-append-version="true" />