@model HouYun3.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Video Index";
}

<div class="row mb-3">
    <div class="col-md-12">
        <h4>Search Videos:</h4>
        <form asp-action="Search" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter search term" name="searchTerm" value="@Model.SearchTerm">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <h4>Filter by Category:</h4>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Video/Index">All</a>
                    </li>
                    @foreach (var category in Model.Categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Video/Index?category=@category.Name">@category.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    @foreach (var video in Model.Videos)
    {
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@video.Title</h5>
                    <p class="card-text">Uploaded by: @video.User.UserName</p>
                    <p class="card-text">Upload Date: @video.UploadDate.ToString("dd/MM/yyyy")</p>
                    <video width="100%" controls>
                        <source src="@Url.Content($"~/videos/{video.FilePath}")" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".nav-link").click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                window.location.href = url;
            });
        });
    </script>
}