@model HouYun3.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Video Index";
}

<form asp-controller="Video" asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchTerm" placeholder="Search videos" aria-label="Search videos" aria-describedby="button-search">
        <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
    </div>
</form>

<div>
    <h4>Categories:</h4>
    <ul>
        <li><a href="@Url.Action("Index", "Video", new { categoryId = "" })">All Categories</a></li>
        @foreach (var category in Model.Categories)
        {
            <li><a href="@Url.Action("Index", "Video", new { categoryId = category.Value })">@category.Text</a></li>
        }
    </ul>
</div>

<hr />

<div id="videoList">
    @foreach (var video in Model.Videos)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@video.Title</h5>
                <p class="card-text">Uploaded by: @video.User.UserName</p>
                <video width="320" height="240" controls>
                    <source src="@Url.Content("~/videos/" + video.FilePath)" type="video/mp4">
                </video>
                <p><a href="@Url.Action("Details", "Video", new { id = video.VideoId })" class="btn btn-primary">Watch Video</a></p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function filterVideos() {
            var categoryName = $("#Category").val();
            window.location.href = "/Video/Index?categoryId=" + categoryName;
        }
    </script>
}
