@model HouYun3.Models.VideoViewModel

@{
    ViewData["Title"] = "Video Index";
}

<a href="@Url.Action("Index", "Video")">All Videos</a>

@foreach (var category in ViewBag.Categories)
{
    <a href="@Url.Action("Index", "Video", new { categoryId = category.Value })">@category.Text</a>
}

<div id="videoList">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model.Videos)
            {
                <tr>
                    <td>@video.Title</td>
                    <td>@video.Category.Name</td>
                    <td>@video.User.Login</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@video.VideoID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function filterVideos() {
            var categoryId = $("#CategoryId").val();
            window.location.href = "/Video/Index?categoryId=" + categoryId;
        }
    </script>
}
