@using System.Security.Claims
@model IEnumerable<Video>

@{
    ViewData["Title"] = "Смотреть позже";
}

<h1 id="Title">Смотреть позже</h1>

@if (Model.Any())
{
    <div class="row">
        @foreach (var video in Model)
        {
            <div class="my-custom-col">
                <div class="card video-card">
                    <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">
                        <img class="card-img-top poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@video.Title</a>
                            <div class="dropdown-container">
                                <div class="dropdown">
                                    <button onclick="toggleDropdown(this)" class="zxc btn btn-outline-secondary btn-sm custom-btn dropdown-toggle">
                                        ...
                                    </button>
                                    <div class="dropdown-menu">
                                        @{
                                            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                                        }
                                        @foreach (var watchLaterItem in video.WatchLaterItems)
                                        {
                                            @if (watchLaterItem.Channel.UserId == userId)
                                            {
                                                <form asp-action="Delete" asp-route-id="@watchLaterItem.WatchLaterId" method="post">
                                                    <button type="submit" class="dropdown-item">Удалить из "Смотреть позже"</button>
                                                </form>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </h3>
                        <p class="card-channel">
                            <a href="@Url.RouteUrl("channel", new { channelName = video.Channel.Name })">@video.Channel.Name</a>
                        </p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@Helper.FormatViews(video.Views.Count) || @Helper.TimeAgo(video.UploadDate)</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Список "Смотреть позже" пуст.</p>
}

<link rel="stylesheet" href="~/css/indexVideos.css" asp-append-version="true" />