@model IEnumerable<User>

<h2>Пользователи</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id пользователя</th>
            <th>Имя пользователя</th>
            <th>Id канала</th>
            <th>Имя канала</th>
            <th>Действие</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td id="Id">@user.Id</td>
                <td id="Username">@user.UserName</td>
                <td id ="Id">@user.Channel.ChannelId</td>
                <td id="ChannelName">@user.Channel.Name</td>
                <td>
                    <form asp-action="RemoveUser" asp-route-id="@user.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить пользователя</button>
                    </form>
                </td>
                <td>
                    <form asp-action="ChangeRoles" asp-route-id="@user.Id" method="post">
                        @Html.DropDownList("roleName", new SelectList(new[] { "User", "Author", "Admin" }))
                        <button type="submit" class="btn1 btn-primary">Применить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />