@model IEnumerable<User>

<h2>Пользователи</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id пользователя</th>
            <th>Имя пользователя</th>
            <th>Id канала</th>
            <th>Имя канала</th>
            <th>Действие</th>
            <th>Роль</th>
            <th>Заявка</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td id="Id">@user.Id</td>
                <td id="Username">@user.UserName</td>
                <td id ="Id">@user.Channel.ChannelId</td>
                <td id="ChannelName">@user.Channel.Name</td>
                <td>
                    <form asp-action="RemoveUser" asp-route-id="@user.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить пользователя</button>
                    </form>
                </td>
                <td>
                    <form asp-action="ChangeRoles" asp-route-id="@user.Id" method="post">
                        @Html.DropDownList("roleName", new SelectList(new[] { "User", "Author", "Admin" }))
                        <button type="submit" class="btn1 btn-primary">Применить</button>
                    </form>
                </td>
                @if (user.Application.IsActive)
                {
                    <td>
                        <a id="btnclickGetApplication" href="@Url.Action("GetApplication", "Admin", new { id = user.Application.ApplicationId })">Посмотреть</a>
                        <div class="modal fade" id="GetApplication">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body" id="modal-bodyGetApplication"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />
<script src="~/js/admin.js" asp-append-version="true"></script>