@model IEnumerable<Category>

<h2>Категории</h2>
<p>
    <a href="@Url.Action("Add", "Category")">Добавить категорию</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@category.CategoryId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Удалить категорию</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/forAnother/admin.css" asp-append-version="true" />