@model List<WatchHistory>

<h2>Watch History</h2>
@if (Model.Any())
{
    <div class="row">
        @foreach (var watchHistory in Model)
        {
            <div class="col-md-3 mb-3">
                <div class="card">
                    <a href="@Url.Action("Details", "Video", new { id = watchHistory.Video.VideoId })">
                        <div class="card-body">
                            <h5 class="card-title">@watchHistory.Video.Title</h5>
                            <p class="card-text">Uploaded by: @watchHistory.Channel.Name</p>
                            <p class="card-text">Watch Date: @watchHistory.WatchDate.ToString("dd/MM/yyyy")</p>
                            <p class="card-text">Views: @watchHistory.Video.Views.Count</p>
                            <video width="100%" controls>
                                <source src="@Url.Content($"~/videos/{watchHistory.Video.VideoPath}")" type="video/mp4">
                            </video>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <form method="post" asp-action="DeleteAllWatchHistoryAsync" asp-controller="WatchHistory">
        <button type="submit" class="btn btn-danger">Удалить всю историю просмотров</button>
    </form>
}
else
{
    <p>No videos found in watch history.</p>
}

