@model IEnumerable<Notification>

@if (Model.Any())
{
    @foreach (var notification in Model)
    {
        <div class="notification-item">
            <p>
                <a href="@Url.Action("Index", "Channel", new { ChannelName = @notification.Video.Channel })">
                    @notification.Video.Channel.Name
                </a>
                @Helper.TimeAgo(notification.NotificationDate)
            </p>
            <a href="@Url.Action("Details", "Video", new { videoId = @notification.Video.VideoId })">
                Новое видео: @notification.Video.Title
            </a>
        </div>
    }
}
else
{
    <div>Отсутствуют</div>
}

<link rel="stylesheet" href="~/css/forAnother/notifications.css" asp-append-version="true" />