@model IEnumerable<Notification>

@if (Model.Any())
{
    @foreach (var notification in Model)
    {
        @if (notification.Message == null)
        {
            <div class="video-notification">
                <p>
                    <a href="@Url.Action("Index", "Channel", new { ChannelName = @notification.Video.Channel.Name })">
                        @notification.Video.Channel.Name
                    </a>
                    @Helper.TimeAgo(notification.NotificationDate)
                </p>
                <a href="@Url.Action("Details", "Video", new { videoId = @notification.Video.VideoId })">
                    Новое видео: @notification.Video.Title
                </a>
            </div>
        }
        else
        {
            <div class="message-notification">
                <p class="time">@notification.NotificationDate.ToString("dd.MM.yyyy HH:mm:ss")</p>
                <p class="message">@notification.Message</p>
            </div>
        }
    }
}
else
{
    <div>Отсутствуют</div>
}

<link rel="stylesheet" href="~/css/forAnother/notifications.css" asp-append-version="true" />