@model HouYun3.Models.Channel
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>@Model.Subscribers.Count</p>

@if (User.Identity.IsAuthenticated)
{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isSubscribed = Model.Subscribers.Any(s => s.UserId == userId);
    var isAuthor = Model.UserId == userId;

    if (isAuthor)
    {
        <a href="@Url.Action("Add", "Channel")" class="btn btn-primary">Загрузить видео</a>

        <a href="@Url.Action("Delete", "Channel")" class="btn btn-danger">Удалить видео</a>

        <a href="@Url.Action("Update", "Channel")" class="btn btn-primary">Изменить</a>
    }
    else
    {
        if (!isAuthor)
        {
            if (isSubscribed)
            {
                <form id="unsubscribeForm" method="post" action="/Subscription/Unsubscribe">
                    <input type="hidden" name="channelId" value="@Model.ChannelId" />
                    <button type="button" onclick="unsubscribe()">Отписаться</button>
                </form>
            }
            else
            {
                <form id="subscribeForm" method="post" action="/Subscription/Subscribe">
                    <input type="hidden" name="channelId" value="@Model.ChannelId" />
                    <button type="button" onclick="subscribe()">Подписаться</button>
                </form>
            }
        }
    }
}

<h2>Videos:</h2>
<div class="row">
    @foreach (var video in Model.Videos)
    {
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="@Url.Action("Details", "Video", new { id = video.VideoId })">
                    <div class="card-body">
                        <h5 class="card-title">@video.Title</h5>
                        <p class="card-text">Uploaded by: @video.Channel.Name</p>
                        <p class="card-text">Upload Date: @video.UploadDate.ToString("dd/MM/yyyy")</p>
                        <p class="card-text">Views: @video.Views.Count</p>
                        <video width="100%" controls>
                            <source src="@Url.Content($"~/videos/{video.VideoPath}")" type="video/mp4">
                        </video>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<script>
    function subscribe() {
        document.getElementById("subscribeForm").submit();
    }

    function unsubscribe() {
        document.getElementById("unsubscribeForm").submit();
    }
</script>
