@model IEnumerable<HouYun.Models.Video>

@if (Model != null && Model.Any())
{
    <div class="container mt-4">
        <table class="table">
            <tbody>
                @foreach (var video in Model)
                {
                    <tr>
                        <td>
                            <img class="poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                        </td>
                        <td>
                            <h5 id="DeleteTitle">
                                @video.Title
                            </h5>
                        </td>
                        <td>
                            <form id="deleteForm">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@video.VideoId" />
                                <button type="button" id="submitBtn" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Нет видео для удаления.</p>
}

<script>
    $(document).ready(function () {
        $('#submitBtn').click(function () {
            var formData = new FormData($('#deleteForm')[0]);

            $.ajax({
                url: '@Url.Action("Delete", "Channel")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#delete #modal-bodyDelete').html(response);
                    $('#deleteForm')[0].reset();
                }
            });
        });
    });
</script>