@model HouYun.ViewModels.forVideo.AddVideoViewModel

@{
    ViewData["Title"] = "Загрузить видео";
}

<form asp-action="Add" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="PosterFile" class="control-label">Файл постера</label>
        <input asp-for="PosterFile" type="file" id="upload" class="form-control" accept="image/*" />
        <span asp-validation-for="PosterFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VideoFile" class="control-label">Файл видео</label>
        <input asp-for="VideoFile" type="file" id="upload" class="form-control" accept=".mp4" />
        <span asp-validation-for="VideoFile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Название видео</label>
        <input asp-for="Title" id="upload" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание видео</label>
        <textarea asp-for="Description" id="upload" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Категория видео</label>
        <div>
            @foreach (var category in Model.Categories)
            {
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CategoryId" id="@($"category_{category.CategoryId}")" value="@category.CategoryId">
                    <label class="form-check-label" for="@($"category_{category.CategoryId}")">@category.Name</label>
                </div>
            }
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <p>
            <button type="submit" class="btn btn-outline-secondary btn-sm rounded-pill">Опубликовать</button>
        </p>
    </div>
</form>