@model HouYun.Models.Channel
@using System.Security.Claims

@{
    ViewData["Title"] = @Model.Name;
}

<h1 id="Title">@Model.Name</h1>
<p>@Model.Description</p>
<p>@Helper.FormatSubscribers(Model.Subscribers.Count) | @Model.Videos.Count видео</p>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var isSubscribed = Model.Subscribers.Any(s => s.UserId == userId);
        var isAuthor = Model.UserId == userId;

        if (isAuthor)
        {
            <p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <button id="btnclickAdd" data-url="@Url.Action("Add", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill" type="button">Загрузить видео</button>
                    <div class="modal fade" id="upload">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Загрузить видео</h5>
                                </div>
                                <div class="modal-body" id="modal-bodyAdd"></div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <button id="btnclickDelete" data-url="@Url.Action("Delete", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill" type="button">Удалить видео</button>
                    <div class="modal fade" id="delete">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Удалить видео</h5>
                                </div>
                                <div class="modal-body" id="modal-bodyDelete"></div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <button id="btnclickUpdate" data-url="@Url.Action("Update", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill" type="button">Обновить канал</button>
                    <div class="modal fade" id="update">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Изменить канал</h5>
                                </div>
                                <div class="modal-body" id="modal-bodyUpdate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }
        else
        {
            if (!isAuthor)
            {
                if (isSubscribed)
                {
                    <p>
                        <form id="unsubscribeForm" method="post" action="/Subscription/Unsubscribe">
                            <input type="hidden" name="channelId" value="@Model.ChannelId" />
                            <button type="button" class="btn btn-light btn-sm rounded-pill" onclick="unsubscribe()">Отписаться</button>
                        </form>
                    </p>
                }
                else
                {
                    <p>
                        <form id="subscribeForm" method="post" action="/Subscription/Subscribe">
                            <input type="hidden" name="channelId" value="@Model.ChannelId" />
                            <button type="button" class="btn btn-light btn-sm rounded-pill" onclick="subscribe()">Подписаться</button>
                        </form>
                    </p>
                }
            }
        }
    }
</div>


<p>Видео:</p>

<div class="container mt-4">
    <div class="row">
        @foreach (var video in Model.Videos)
        {
            <div class="col-md-3">
                <div class="card video-card">
                    <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">
                        <img class="card-img-top poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@video.Title</a>
                            <div class="dropdown">
                                <button id="dropdownButton" onclick="toggleMenu('@video.VideoId')" class="btn btn-outline-secondary btn-sm" aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                <div id="menuItems_@video.VideoId" class="dropdown-menu" style="display: none;">
                                    <a class="dropdown-item" href="@Url.Action("AddToWatchLater", "WatchLater", new { videoId = video.VideoId })">Смотреть позже</a>
                                </div>
                            </div>
                        </h4>
                        <p class="card-text">
                            <a href="@Url.RouteUrl("channel", new { channelName = video.Channel.Name })">@video.Channel.Name</a>
                        </p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@Helper.FormatViews(video.Views.Count) | @Helper.TimeAgo(video.UploadDate)</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/channelUpload.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/channelDelete.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/channelUpdate.css" asp-append-version="true" />
<script src="~/js/channel.js"></script>