@model HouYun.Models.Channel
@using System.Security.Claims

@{
    ViewData["Title"] = @Model.Name;
}

<div class="main-chennel">
    <h1 class="main-name">@Model.Name</h1>
    <p class="main-info">@Model.Description</p>
    <p class="main-more-info">@Helper.FormatSubscribers(Model.Subscribers.Count) | | @Model.Videos.Count видео  | | Дата регистрации: @Model.RegistrationDate.ToString("dd.MM.yyyy")</p>
</div>

<div>
    @{
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var isSubscribed = Model.Subscribers.Any(s => s.UserId == userId);
        var isAuthor = Model.UserId == userId;

        if (isAuthor)
        {
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                @if (User.IsInRole("Author") || User.IsInRole("Admin"))
                {
                    <button id="btnclickAdd" data-url="@Url.Action("Add", "Channel")" class="btn btn-light btn-sm rounded-pill" type="button">Загрузить видео</button>
                    <div class="modal fade" id="upload">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body" id="modal-bodyAdd"></div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <button id="btnclickDelete" data-url="@Url.Action("Delete", "Channel")" class="btn btn-light btn-sm rounded-pill" type="button">Удалить видео</button>
                    <div class="modal fade" id="delete">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body" id="modal-bodyDelete"></div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer"></div>
                }

                <button id="btnclickUpdate" data-url="@Url.Action("Update", "Channel")" class="btn btn-light btn-sm rounded-pill" type="button">Изменить канал</button>
                <div class="modal fade" id="update">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body" id="modal-bodyUpdate"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (isSubscribed)
            {
                <p>
                    <form id="subscribeForm">
                        <input type="hidden" id="channelId" name="channelId" value="@Model.ChannelId" />
                        <button type="button" onclick="unsubscribe()" class="btn btn-light btn-sm rounded-pill" id="subscribeButton">Отписаться</button>
                    </form>
                </p>
            }
            else
            {
                <p>
                    <form id="subscribeForm">
                        <input type="hidden" id="channelId" name="channelId" value="@Model.ChannelId" />
                        <button type="button" onclick="subscribe()" class="btn btn-light btn-sm rounded-pill" id="subscribeButton">Подписаться</button>
                    </form>
                </p>
            }
        }
    }
</div>

<div>
    <p class="videos">Видео:</p>
    <partial name="VideoCard" model="Model.Videos" />
</div>

<link rel="stylesheet" href="~/css/forChannel/channel.css" asp-append-version="true" />
<script src="~/js/channel.js"></script>