@model HouYun.Models.Channel
@using System.Security.Claims

@{
    ViewData["Title"] = @Model.Name;
}

<style>
    .spacer {
        flex-grow: 0.02;
    }
</style>

<h1 style="font-size: 3em; font-weight: bold;">@Model.Name</h1>
<p>@Model.Description</p>
<p>@Helper.FormatSubscribers(Model.Subscribers.Count) | @Model.Videos.Count видео</p>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        var isSubscribed = Model.Subscribers.Any(s => s.UserId == userId);
        var isAuthor = Model.UserId == userId;

        if (isAuthor)
        {
            <p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a href="@Url.Action("Add", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill">Загрузить видео</a>
                    </div>
                    <div class="spacer"></div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <a href="@Url.Action("Delete", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill">Удалить видео</a>
                    </div>
                    <div class="spacer"></div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <a href="@Url.Action("Update", "Channel")" class="btn btn-outline-secondary btn-sm rounded-pill">Изменить канал</a>
                    </div>
                </div>
            </p>
        }
        else
        {
            if (!isAuthor)
            {
                if (isSubscribed)
                {
                    <p>
                        <form id="unsubscribeForm" method="post" action="/Subscription/Unsubscribe">
                            <input type="hidden" name="channelId" value="@Model.ChannelId" />
                            <button type="button" class="btn btn-light btn-sm rounded-pill" onclick="unsubscribe()">Отписаться</button>
                        </form>
                    </p>
                }
                else
                {
                    <p>
                        <form id="subscribeForm" method="post" action="/Subscription/Subscribe">
                            <input type="hidden" name="channelId" value="@Model.ChannelId" />
                            <button type="button" class="btn btn-light btn-sm rounded-pill" onclick="subscribe()">Подписаться</button>
                        </form>
                    </p>
                }
            }
        }
    }
</div>


<p>Видео:</p>

<div class="container mt-4">
    <div class="row">
        @foreach (var video in Model.Videos)
        {
            <div class="col-md-3">
                <div class="card video-card">
                    <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">
                        <img class="card-img-top poster-image" src="@Url.Content("~/posters/" + video.PosterPath)" alt="Video Poster">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@video.Title</a>
                            <div class="dropdown">
                                <button id="dropdownButton" onclick="toggleMenu('@video.VideoId')" class="btn btn-outline-secondary btn-sm" aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                <div id="menuItems_@video.VideoId" class="dropdown-menu" style="display: none;">
                                    <a class="dropdown-item" href="@Url.Action("AddToWatchLater", "WatchLater", new { videoId = video.VideoId })">Смотреть позже</a>
                                </div>
                            </div>
                        </h4>
                        <p class="card-text">
                            <a href="@Url.RouteUrl("channel", new { channelName = video.Channel.Name })">@video.Channel.Name</a>
                        </p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Video", new { videoId = video.VideoId })">@Helper.FormatViews(video.Views.Count) | @Helper.TimeAgo(video.UploadDate)</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function subscribe() {
        document.getElementById("subscribeForm").submit();
    }

    function unsubscribe() {
        document.getElementById("unsubscribeForm").submit();
    }
</script>
